#footer{
	margin-top: 30px;
	padding: 10px;
	color:  #fff;
	background: #0c84e4;
	bottom: 0 !important;
	position: fixed !important;
	width: 100%;
}
#footer p{
	margin-bottom: 0px;
}

#navbarColor01{
	float: right !important;
	font-weight: bold;
	font-size: 18px;
}